* {
  margin: 0;
}

body {
  background-color: #0b3d08;
  color: white;
}

.textarea {
  width: 100%;
  font-size: 25px;
  padding: 20px;
  border-radius: 0px 10px;
  outline: none;
}

.textarea:focus {
  box-shadow: 0px 0px 3px 3px lightgreen;
}

#preview {
  padding: 40px;
  text-align: left;
  background-color: rgb(84, 91, 95);
  color: white;
  border: 1px solid grey;
  box-shadow: 1px 1px 5px 1px lightgray;
  border-radius: 20px 0px;
}

#preview code {
  background-color: white;
  border-radius: 4px;
  padding: 5px 0px;
  font-size: 12px;
  font-weight: bolder;
}

#preview pre {
  background-color: white;
  padding: 10px;
}
